<!DOCTYPE html>
<html>
<head>
	<title>Depot</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
<body class='<%= controller.controller_name %>'>
	<%= yield %>
=======
<body class=​'​<%= controller.controller_name %>'>​
  <%= yield %>
>>>>>>> a7cf722de4fe0ff83c88bc64af1dccf90593cb7b
</body>
</html>

